.sky {
    position: relative;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, #87CEEB, #b0e0e6);
    overflow: hidden;
    border-radius: 0; /* или нужный вам */
}

.cloud {
    position: absolute;
    opacity: 0.9;
    pointer-events: none;
}

    .cloud img {
        width: 100%;
        height: auto;
    }

@keyframes flyRight {
    0% {
        left: -500px;
    }

    100% {
        left: calc(100% + 500px);
    }
}

@keyframes flyLeft {
    0% {
        left: calc(100% + 500px);
    }

    100% {
        left: -500px;
    }
}
